/*Google font imports*/

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Manrope:wght@800&family=Montserrat:wght@700&family=Outfit:wght@300;400;600&display=swap');


/*quries*/
@media only screen and (max-width: 768px) {
   
    main {
       margin: 100px;
        
    }
}





/*universal tag*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*google font*/
}

body{
    display:flex ;
    justify-content: center;
    align-items: center;
    height: 1000px;
    background-color: hsl(218, 23%, 16%);
    font-family: 'Manrope';
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: hsl(217, 19%, 24%);
    height: fit-content;/*resize accordigly to fit size of fetched data(advice)*/
    width:fit-content;/*resize accordigly to fit size of fetched data(advice)*/
    padding: 30px;
    border-radius: 2%;
}

.id-container{ color: rgb(124, 229, 229);}

#advice-id{
    font-size: 28px;
    color: rgb(124, 229, 229);
    margin: 20px; 
}

.text-container{
    margin: 20px ;
    font-size: 28px;
    width: 100%;
    color: rgb(124, 229, 229);
}



#divider{
    margin: 30px; 
    
}

/*button*/

#btn-dice{
    background-color:hsl(150, 100%, 66%);
    border-radius: 50%;
    padding: 11px 12px 8px;
    border: 0;
    margin: 0 auto -50px;
    cursor: pointer; /*display hand pointer when mouse hovers button*/
}

#btn-dice img{width: 19px;}










