/*New style shhet**/

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Manrope:wght@800&family=Montserrat:wght@700&family=Outfit:wght@300;400;600&display=swap');


body {

    font-family: Arial, sans-serif;
    background-color: #E8E8E8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
    max-width: 600px;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  .id-container {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .text-container {
    font-size: 30px;
    color: #333;
    margin-bottom: 40px;
  }
  
  #divider {
    width: 100%;
    max-width: 600px;
    margin: 40px 0;
  }
  
  #btn-dice {
    background-color: #00B894;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 15px 30px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  #btn-dice img {
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
  }
  
  @media (max-width: 600px) {
    .container {
      padding: 20px;
    }
  
    .id-container {
      font-size: 16px;
    }
  
    .text-container {
      font-size: 24px;
    }
  }
  